/***** General Styles ******/

.clear {
    clear:both;
}

body {
    background: #fff url(../img/BG_bokeh.jpg) repeat-x;
}

ul {
    list-style-type:disc;
    margin:0px 0px 20px 40px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#414141;
    line-height:18px;
}

ol {
    list-style-type:decimal;
    margin:0px 0px 20px 40px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#414141;
    line-height:18px;
}

blockquote {
    margin-left:20px;
    border-left:3px solid #999;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#414141;
    margin-bottom:25px;
    line-height:18px;
    padding-left:10px;
}

a:link, a:active, a:hover, a:visited {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#521773;
    margin-bottom:25px;
    line-height:18px;
}

p {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#414141;
    margin-bottom:25px;
    line-height:18px;
}

/***** Main Content Styles ******/

#wrapper {
    width:960px;
    margin:0px auto;
}

#logo {
    margin:30px auto;
    text-align:center;
}

#main {
    background:#FFF;
    width:900px;
    border:1px solid #666;
    padding:25px 30px 15px 30px;
    position:relative;
    margin-bottom:30px;
    
    /* Rounded Corner Styles */
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;

}

#leftcolumn {
    width:300px;
    float:left;
    padding:5px;
    margin-left: 400px;
}

h1 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:150px;
    font-weight:normal;
    color:#d4d7dd;
    margin:0px;
}

h1 small {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:24px;
    font-weight:normal;
    color:#d4d7dd;
    margin:0px;
    display:block;
}

#searcharea {
    margin:30px 0px;
    vertical-align:middle;
    position:relative;
}

input#search {
    width:161px;
    height:21px;
    background:url(../img/BG_input.png);
    border:0px;
    padding:6px 0px 0px 6px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    color:#999;
    cursor:text;
    position:absolute;
}

input#submit {
    width:74px;
    height:27px;
    background:url(../img/search.png);
    border:0px;
    cursor:pointer;
    position:absolute;
    left:177px;
}

input#submit:hover {
    background:url(../img/search_hover.png);
}

#rightcolumn {
    display: none;
    width:530px;
    float:left;
    padding:10px 25px;
    border-left:1px solid #d4d7dd;  
}

h2 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:24px;
    font-weight:normal;
    color:#414141;
    margin-bottom:15px;
}

h3 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#521773;
    margin-bottom:10px;
    text-transform:uppercase;
}

.navigation {
    list-style:none;
    float:left;
    width:250px;
    margin:10px 7px;
}

.navigation li {
    border-top:1px solid #d4d7dd;
    height:20px;
    padding:5px;
    cursor:pointer;
}

.navigation li.last {
    border-bottom:1px solid #d4d7dd;
}

.navigation li a:link, .navigation li a:active, .navigation li a:hover, .navigation li a:visited {
    text-decoration:none;
    color:#414141;
    width:250px;
    padding:5px;
}


/***** Footer Styles ******/

#footer {
    display: none;
    border-top:1px solid #d4d7dd;
    margin-top:25px;
    padding-top:15px;
    height:8px;
}

#copyright {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:10px;
    font-weight:normal;
    color:#414141;
    width:450px;
    float:left;
}

#footer_navigation {
    list-style:none;
    width:450px;
    float:left;
    margin:-5px;
    padding:0px;
    text-align:right;
}

#footer_navigation li {
    display:inline;
    padding:0px;    
}

#footer_navigation li a:link, #footer_navigation li a:active, #footer_navigation li a:visited {
    text-decoration:none;
    color:#414141;
    margin:0px 5px; 
    font-size:10px; 
    padding:0px;    
}

#footer_navigation li a:hover {
    text-decoration:underline;
}