<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/404.css" rel="Stylesheet"/>
    <title>404 Your page is not found.</title>
  </head>
  <body>
    <!-- Start Main DIV -->
    <div id="leftcolumn"><!-- Start Left Column DIV -->
        <h1>404<small>Oops... Page Not Found!</small></h1>
        
        <div id="searcharea"><!-- Start Search Area DIV -->
            <input id="search" name="search" value="Enter your term here..." onfocus="if(this.value == 'Enter your term here...')this.value = ''" onblur="if(this.value == '') this.value = 'Enter your term here...'" type="text"><!-- Search Input Field -->
            <input id="submit" name="submit" value="" type="submit"><!-- Search Submit Button -->
        </div>
        
    </div><!-- End Left Column DIV -->

    <div id="rightcolumn"><!-- Start Right Column DIV -->
        <h2>Lorem ipsum dolor sit amet consectetur</h2><!-- Subheader H2 -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla <a href="#">eleifend</a> est eu diam gravida aliquam. Cras nec posuere arcu. Sed gravida commodo lacus sed faucibus. Donec et nibh mauris. </p><!-- Paragraph of text -->
        
        <h3>Visit one of our existing pages:</h3><!-- Subheader H3 -->
        
        <ul class="navigation"><!-- Start Navigation UL -->
            <li><a style="margin-left: 0px;" href="#">» Home Page</a></li>
            <li><a style="margin-left: 0px;" href="#">» Services</a></li>
            <li><a style="margin-left: 0px;" href="#">» Portfolio</a></li>
            <li class="last"><a style="margin-left: 0px;" href="#">» About Us</a></li>
        </ul><!-- End Navigation UL -->
        
        <ul class="navigation"><!-- Start Navigation UL -->
            <li><a style="margin-left: 0px;" href="#">» Newsletter</a></li>
            <li><a style="margin-left: 0px;" href="#">» Daily Blog</a></li>
            <li><a style="margin-left: 0px;" href="#">» Discussion Forums</a></li>
            <li class="last"><a style="margin-left: 0px;" href="#">» Contact Us</a></li>
        </ul><!-- End Navigation UL -->
            
    </div><!-- End Right Column DIV -->

    <br class="clear">

    <div id="footer"><!-- Start Footer DIV -->
        <div id="copyright">© 2009 Miracle Studios. All rights reserved.</div><!-- Copyright Notice -->
        
        <ul id="footer_navigation"><!-- Start Bottom Navigation UL -->
            <li><a href="#">Terms of Service</a>-</li>
            <li><a href="#">Privacy Policy</a>-</li>
            <li><a href="#">Support</a></li>
        </ul><!-- End Bottom Navigation UL -->
        
    </div><!-- End Footer DIV -->
  </body>
</html>